.form {
  display: flex;
  justify-content: center;
}

.button {
  align-items: center;
  background-color: rgb(8, 34, 41);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 100px;

}

.button:hover {
  background-color: rgb(29, 51, 58);
  color: white;

}

.walletIcon {
  display: flex;
  height: 0;
  justify-content: center;
  padding: 150px;
}

.divButton {
  display: flex;
  justify-content: center;
  padding: 50px;
}

input {
  border: 2px solid rgb(8, 34, 41);
  border-radius: 5px;
  height: 40px;
  margin: 5px;
  width: 280px;
}

input:hover {
  border: 3px solid rgb(8, 34, 41);
}
