* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(13, 67, 80);
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header {
  align-items: center;
  background-color: rgb(8, 34, 41);
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 10px;
}

.title {
  display: flex;

}

.wallet {
  width: 100%;
}

.walletForm input {
  border: 2px solid rgb(12, 49, 59);
  border-radius: 5px;
  height: 35px;
  margin: 5px;
  width: 130px;
}

.walletForm input:hover {
  border: 2px solid rgb(76, 158, 180);
}

.walletForm {
  border: 1px solid  white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
}

label {
  color: white;
  margin: 20px;
}

select {
  border: 2px solid rgb(12, 49, 59);
  border-radius: 5px;
  height: 35px;
  margin: 5px;
  width: 130px;
}

select:hover {
  border: 2px solid rgb(76, 158, 180);
}

.header :link {
  color: white;
  display: flex;
  justify-content: baseline;
}

.buttonAddExpense {
  display: flex;
  justify-content: center;
}

.buttonAddExpense button {
  background-color: rgb(8, 34, 41);
  border: 2px solid rgb(12, 49, 59);
  border-radius: 5px;
  color: white;
  height: 35px;
  margin: 5px;
  width: 130px;
}

.buttonAddExpense button:hover {
  border: 2px solid rgb(76, 158, 180);
}

.wallet h3 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
